__pycache__
*.swp
*.pgm
testbed/log.txt
testbed/port.txt
bsl/firmware.bin
bsl/ram.bin
bsl/TEMP.*
bsl/a66src/*.LST
bsl/a66src/*.OBJ
bsl/C166V???.EXE
bsl/A166.EXE
bsl/REG167.INC
bsl/.flash_warning_given.flag
