@font-face {
	font-family: S3121;
	src: url(s3121.ttf);
}

body {
	background-color: #111;
	color: white;
	font-family: sans-serif;
	margin: 0.25in;
}

header {
	background-color: #0000aa;
	padding: 0.25in;
	margin-left: 1in;
	overflow: hidden;
	border-radius: 24px;
}

footer {
	position: fixed;
	left: 16px; bottom: 8px;
	font-size: 10pt;
	z-index: -1;
}

a {
	color: cyan;
}

h1 {
	font-size: 36pt;
	font-family: monospace;
	margin: 0;
}

header p {
	margin: 0;
	font-size: 16pt;
	font-style: italic;
}

small {
	font-weight: normal;
}

.housing {
	float: left;
	margin-right: 0.5in;
	width: 4in;
	border: 8px outset #eee;
	border-radius: 0.25in;
	background-color: #eee;
	color: black;
}

.top {
	margin: 0.125in;
	border-radius: 0.1875in;
	border: 4px outset #eee;
}

.screen-border {
	background-color: #aaa;
	margin: 0.125in;
	border: 2px groove #444;
	border-radius: 0.0625in;
}

#screen {
	margin: 0.125in;
	border: 0.25in inset #aaa;
	border-radius: 0.0625in;
	background-color: #9bf52b;
	font-family: S3121, monospace;
	font-size: 21px;
	text-align: center;
	resize: none;
    width: 252px;
    height: 115px;
    overflow: hidden;
}

.top .keys {
	margin: 0.25in 0.0625in;
	padding: 0.0625in;
	border: 4px inset #eee;
	border-radius: 0.125in;
}

.keys div {
	padding: 0.25in;
}

.top .keys, .keys div {
	display: flex;
	justify-content: space-between;
}

button {
	width: 0.5625in;
	height: 0.3125in;
	border: 2px outset #aaa;
	border-radius: 0.0625in;
	background-color: #aaa;
	font-size: 12pt;
	font-weight: bold;
	font-style: italic;
}

button small {
	font-size: 7pt;
}

.top .keys button, .keys div button:last-child {
	width: 0.75in;
}

#tools nav {
	display: inline-flex;
	flex-direction: column;
}

#tools.active nav {
	display: block;
}

#tools.active {
	display: flex;
	flex-direction: column;
	position: absolute;
	left: 4.5in; top: 0;
	width: calc(100vw - 5in);
	height: calc(100vh - 0.5in);
	background-color: #111;
	padding: 16px;
}

#tools nav a {
	display: inline-block;
	position: relative;
	background-color: #0000aa;
	color: white;
	padding: 12px;
	border-radius: 12px;
	text-decoration: none;
	margin-top: 8px;
}

#tools.active nav a {
	padding: 8px 8px 8px 4px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

#tools.active h2 {
	display: none;
}

#tools nav a:hover {
	text-decoration: underline;
}

#tools nav a.selected {
	background-color: blue;
	font-weight: bold;
}

#tools iframe {
	display: none;
}

#tools.active iframe {
	display: block;
	flex-grow: 1;
}
